body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.content {
    border: 2px solid rgb(0, 0, 0);
    width: 500px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: gray;

}

.content h1 {
    font-size: 50px;
    font-family: 'Segoe UI';
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
}

input#monetaryAmmount,
input#taxPercentage {
    width: 80%;

    text-align: center;
    font-family: 'Segoe UI';
    padding: 5px;
    margin: 5px 0;
}

#calculateBtn {
    font-family: 'Segoe UI';
    width: 100px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    
}

#summary {
    width: 99%;
    font-family: 'Segoe UI';
    background-color: #ccc;
    padding: 2px;
    margin: 5px 0;

}

#summary p {
    padding: 1px;
    margin: 5px 5px;
}